#features-list {
	margin-left: 0;
	padding-left: 0;
	list-style: none; 
}

#features-list li{
	padding-left: 88px;
	background-repeat: no-repeat;
	background-position: 0 .5em;
}

#locations-list {
	margin-left: 0;
	padding-left: 0;
	list-style: none; 
	max-width: 600px;
}

#locations-list li{
	padding-left: 228px;
	background-repeat: no-repeat;
	background-position: 0 .5em;
}