
  .site-footer {
    width: 100%;
    padding-top: 60px;
    background-color: #000000;
    background-image: url(/img/home-2023/footer-bg.webp);
    background-repeat: no-repeat;
    background-position: top 60px center;

    @media (max-width: 800px){
      background-size: auto;
      background-color: #030303;
    }


    .back-to-top {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: fit-content;
      margin: auto;
      font-size: 16px;
      line-height: 24px;
      color: #B5B5B5;
      text-decoration: none;
      margin-bottom: 12px;

      svg {
        color: #E9E9E9;
        width: 24px;
        height: 24px;

      }

      &:hover, &:hover svg {
        color: var(--color-primary-hover);
      }
    }

    .ow-shield {
      width: fit-content;
      display: block;
      margin: auto;
    }

    .site-footer-nav {
      max-width: 1190px;
      margin: 0 auto 60px;
      display: flex;
      padding: 180px 20px 0px;
      justify-content: space-between;

      @media (max-width: 800px){
        flex-direction: column;
        margin-bottom: 40px;
      }

      nav {
        flex: 1;

        & > ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
          gap: 52px 10%;
          margin: 0;


          @media (max-width: 800px) {
            gap: 52px 30px;
          }

          padding: 0;
          list-style: none;

          h5 {
            font-size: 16px;
            line-height: 24px;
            color: var(--color-txt);
            font-weight: bold;
          }

          & ul {
            margin: 16px 0 0;
            padding: 0;
            list-style: none;

            li {
              display: flex;
              align-items: center;
              gap: 8px;
              width: fit-content;

              & + li {
                margin-top: 16px;
              }

              svg {
                width: 24px;
                height: 24px;
                color: var(--color-999);
              }

              &:hover {
                a {
                  color: var(--color-txt);
                  text-decoration: underline;
                }

                svg {
                  color: var(--color-txt);
                }
              }

              a {
                font-size: 16px;
                line-height: 24px;
                color: var(--color-999);
                text-decoration: none;
                text-underline-offset: 3px;
                letter-spacing: 0.02em;

                 &.is-active {
                  color: var(--color-headline);
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    .site-footer-social {
      background-color: var(--color-grey-light-2);

      .site-footer-social-inner {
        padding: 12px 24px;

        @media (max-width: 800px){
          padding: 14px 20px 12px 20px;
        }
      }

      .copyright {
        width: 100%;

        @media (max-width: 800px){
          text-align: center;
        }

        span {
          color: var(--color-220);
          font-size: 14px;
        }
      }

    }
  }

  html[data-theme=dark] {
    .site-footer {

      .site-footer-social {
        background-color: var(--color-120);

        .copyright {
          span {
            color: var(--color-txt);
          }
        }

      }
    }
  }