:root{
  --ifm-color-primary-lightest: #080808;
  --ifm-color-primary-lighter: #070707;
  --ifm-color-primary-light: #070707;
  --ifm-color-primary-dark: #050505;
  --ifm-color-primary-darker: #050505;
  --ifm-color-primary-darkest: #040404;
  --ifm-font-size-base: 110%;
  --ifm-color-primary: #d34037;
  --ifm-color-primary-hover: #f3513e;
  --ifm-color-text-grey: #b5b5b5;
  --ifm-color-text-white: #e9e9e9;
  a:hover {
    color: var(--ifm-color-primary-hover);
  }
}

.navbar__link--active{
  color: var(--ifm-color-text-white);
}

.main-wrapper a{
  color: var(--ifm-color-content);
}

.btn-pink {
	font-family: 'Madera', sans-serif;
  letter-spacing: 0.3px;
	border: 1px solid var(--ifm-color-text-grey);
  color: var(--ifm-color-text-grey) !important;
  padding: 16px 32px;
  line-height: 17px;
  height: 50px;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  background: none;
	transition: all 150ms ease;
}

.btn-pink:hover{
	border: 1px solid var(--ifm-color-primary-hover);
  background-color: var(--ifm-color-primary-hover);
	text-decoration: none !important;
	color: var(--ifm-color-text-white) !important;
}

.start-build-container-btn {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.video-frame {
	max-width: 100%;
	width: 560px;
	height: 315px;
	margin: auto;
}

.video-container {
	width: 100%;
	padding: 30px 0 20px;
	text-align: center;
}

ul li::marker{
  color: var(--ifm-color-primary);
}

.markdown{
  --ifm-link-decoration: underline;
}

.center-text{
  text-align: center;
}

html[data-theme="dark"]{
  @media screen and (min-width: 997px){
    img[src*="mobile"]{
      display: none;
    }
    .center-text-desktop{
      text-align: center;
    }
  }
  img[src*="light"]{
    display: none;
  }
  @media screen and (max-width: 996px) {
    img[src*="desktop"]{
      display: none;
    }
    img[src*="mobile"]{
      margin: auto;
    }
    .center-text-mobile{
      text-align: center;
    }
  }

  code:not(.hljs) {
    background-color: #b5b5b595;
  }
}



html[data-theme="light"]{
  @media screen and (min-width: 997px){
    img[src*="mobile"]{
      display: none;
    }
    .center-text-desktop{
      text-align: center;
    }
  }
  img[src*="dark"]{
    display: none;
  }
  @media screen and (max-width: 996px) {
    img[src*="desktop"]{
      display: none;
    }
    .center-text-mobile{
      text-align: center;
    }
  }
}