
.body.home .main-content a.btn {
	font-family: 'Madera', sans-serif;
    letter-spacing: 0.3px;
    border: 1px solid var(--color-grey-4);
    color: var(--color-txt);
    padding: 16px 32px;
    line-height: 17px;
    height: 50px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    background: none;
}

.body.home .main-content a.btn:hover {
	border-color: var(--color-website-red);
    background-color: var(--color-website-red);
    color: var(--color-grey-light);
}

.body.home .main-content .subtitle {
	font-size: 24px;
	line-height: 28px;
	font-family: 'Madera', sans-serif;
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.body.home .main-content ul {
	list-style: none
}

.body.home .main-content section {
	display: flex;
	justify-content: center
}

.body.home .main-content section .container {
	max-width: 1280px;
}

.body.home .main-content section.easily {
	background-image: url(/img/ow2021bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	height: calc(700px - 76px);
	position: relative;
	background-color: var(--color-bg);
}

.body.home .main-content section.easily .container {
	padding: 166px 20px;
	position: relative;
	z-index: 2;
	width: 1300px;
}

.body.home .main-content section.easily .container header {
	color: var(--color-headline);
	font-size: 48px;
	font-family: 'Madera', sans-serif;
	font-weight: 700;
    line-height: 60px;
    max-width: 490px;
	padding-bottom: 30px
}

.body.home .main-content section.easily .container p {
	max-width: 470px;
	margin-bottom: 32px;
	font-size: 18px;
	line-height: 30px;
	color: var(--color-txt);
}

.body.home .main-content section.easily .lightning {
	position: absolute;
	top: 0;
	width: 470px;
	height: 550px;
	overflow: hidden;
	max-height: 100%
}

.body.home .main-content section.easily .wolf {
	position: absolute;
	left: 53%;
	bottom: 35px;
	padding-top: 110px;
	overflow: hidden;
	max-height: 100%;
	z-index: 1
}

.body.home .main-content section.tiles ul {
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
	min-width: 1280px;
	margin: 0;
	gap: 70px;
}

.body.home .main-content section.tiles ul li>a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 380px;
	height: 434px;
	padding: 54px 40px;
	color: inherit;
	background: var(--color-headline);
	transition: background .2s
}

.body.home .main-content section.tiles ul li>a:hover {
	background: var(--card-hover);
  text-decoration: none;
}

.body.home .main-content section.tiles ul li>a .icon {
	width: 150px;
	height: 150px;
}

.body.home .main-content section.tiles ul li>a header {
	padding: 50px 0 24px;
}

.body.home .main-content section.tiles ul li>a p {
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.01em;
}

.body.home .main-content section.sdk {
	padding-top: 70px;
	padding-bottom: 142px;
}

.body.home .main-content section.sdk .container {
	max-width: 1280px;
}

.body.home .main-content section.sdk ul {
	padding: 0
}

.body.home .main-content section.sdk li {
	display: flex;
	align-items: center;
  justify-content: space-between;
	padding: 80px 0
}

.body.home .main-content section.sdk li:not(:last-child) {
	border-bottom: 1px solid var(--color-900)
}

.body.home .main-content section.sdk li p {
	flex: 1;
	padding: 0 20px 0 0;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.01em;
  max-width: 540px;
}


.body.home .main-content section.sdk li p a {
	font-weight: 700;
	color: var(--color-bg);
}

.body.home .main-content section.sdk li p a:hover {
	text-decoration: underline;
}

.body.home .main-content section.sdk h1 {
  text-align: center;
}


.body.home .main-content section.sdk li img {
	// margin-right: 210px;
}

.body.home .main-content section.sdk li.reversed img {
	margin-right: 0px;
}

.body.home .main-content section.sdk li.reversed img.mobile {
	display: none;
}

.body.home .main-content section.sdk li.reversed {
	flex-direction: row-reverse
}

.body.home .main-content section.sdk li.reversed p {
	padding: 0 0 0 20px;
	flex-basis: 40px;
}

.body.home .main-content section.sdk .sdk-graphic {

}


.body.home .main-content section.game-dev {
	background: var(--color-txt);
	padding: 100px 0 110px 0;
}

.body.home .main-content section.game-dev .container {
	display: flex;
	flex-direction: column;
	align-items: center
}

.body.home .main-content section.game-dev h1 {
  margin-bottom: 40px;
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
}

.body.home .main-content section.game-dev p {
	text-align: center;
	max-width: 440px;
	margin-bottom: 50px;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: var(--color-400);
}

.body.home .main-content section.game-dev a {
	color: var(--color-400);
	border-color: var(--color-400);
	transition: all 150ms ease;
}

.body.home .main-content section.blog {
	background: var(--color-grey-light);
  padding-top: 128px;
  padding-bottom: 128px;
}

.body.home .main-content section.blog .container {
	padding: 0
}

.body.home .main-content section.blog header {
	margin-bottom: 20px
}

.body.home .main-content section.blog ul {
	padding: 0
}

.body.home .main-content section.blog li {
	display: flex;
	font-size: 14px
}

.body.home .main-content section.blog li .date {
	min-width: 85px
}

.body.home .main-content section.blog li:not(:last-child) {
	padding-bottom: 15px
}

.body.home .main-content section.blog li span:last-child {
	padding-left: 20px
}



@media (max-width: 1180px) {

	.body.home .main-content section.game-dev {
		padding: 52px 20px;
		background: var(--color-100);
	}

	.body.home .main-content section.game-dev h1 {
		color: var(--color-grey-light);
		font-size: 32px;
		line-height: 42px;
		margin-bottom: 18px;
	}

	.body.home .main-content section.game-dev p {
		color: var(--color-txt);
		font-size: 16px;
		line-height: 150%;
	}

	.body.home .main-content section.game-dev a {
		color: var(--color-grey);
		border-color: var(--color-grey);
	}

	.medium-widget-article__row {
		flex-direction: column !important;
		padding: 0 20px;
		gap: 40px;
	}

	.body.home .main-content section.sdk {

		padding: 60px 20px;
	}

	.theme-dark .body.home .main-content section.sdk {
		padding: 60px 20px;
	}

	.theme-dark .body.home .main-content section.tiles {
		background-color: var(--color-150);
	}

	.body.home .main-content section.tiles ul {
		flex-direction: column;
		width: auto;
		min-width: auto;
		padding: 0;
		gap: 0;
		padding-bottom: 40px;
	}
	.body.home .main-content section.tiles ul li>a, .theme-dark .body.home .main-content section.tiles ul li>a {
		background: none;
		padding-bottom: 0;
		height: inherit;
	}
	.body.home .main-content section.tiles ul li>a:hover, .theme-dark .body.home .main-content section.tiles ul li>a:hover {
		background: none;
	}
	.body.home .main-content section.sdk li {
		flex-direction: column-reverse;
		padding: 0 0 60px;
		align-items: stretch;
	}

	.body.home .main-content section.sdk li:not(:last-child) {
		border: none;
	}
	.body.home .main-content section.sdk li:not(.reversed) img {
		padding: 0;
		margin: 0 auto;
		float: unset;
		width: 286px;
	}

	.body.home .main-content section.sdk li.reversed img {
		display: none;
	}


	.body.home .main-content section.sdk li.reversed img.mobile {
		display: block;
		margin: 0 auto 60px auto;
	}
	.body.home .main-content section.sdk li p {
		padding: 0;
		margin-top: 60px;
		margin-bottom: 0 ;
	}
	.body.home .main-content section.sdk li.reversed {
		flex-direction: column-reverse
	}
	.body.home .main-content section.sdk li.reversed p {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	.body.home .main-content section.sdk li:last-child {
		padding-bottom: 0
	}
	.body.home .main-content section.blog {
		padding: 40px 0;
		background: var(--color-headline);
	}
	.body.home .main-content section.blog li {
		flex-direction: column
	}
	.body.home .main-content section.blog li span:last-child {
		padding: 0
	}
}


@media (max-width: 600px) {

	.body.home .main-content section.easily {
		height: auto;
		padding-top: 360px;
		background-position: top center;
		background-image: url(/img/ow2021bg-mobile.jpg);
		background-size: contain;
	}

	.body.home .main-content section.easily .container {
		padding: 48px 20px;
		text-align: center;
	}

	.body.home .main-content section.easily .container header {
		font-size: 36px;
	  line-height: 48px;
		max-width: unset;

	}

	.body.home .main-content section.easily .container p {
		font-size: 16px;
		line-height: 150%;
		max-width: unset;
	}

	.body.home .main-content section.easily .container a.btn:hover {
		color: white;
		border-color: var(--color-primary);
	}

}

html[data-theme="dark"]{
  .body.home .main-content section.sdk li p, .body.home .main-content section.game-dev p {
    color: var(--color-txt);
  }

  .body.home .main-content a.btn {
    color: var(--color-grey);

    &:hover {
      color: white;
    }
  }

  .body.home .main-content section.sdk li p a {
    color: var(--color-headline);
  }

  .body.home .main-content section.tiles ul li>a {
    background: var(--card-black);
  }

  .body.home .main-content section.tiles ul li>a:hover {
    background: var(--color-200);
  }
  .body.home .main-content .subtitle, .body.home .main-content section.tiles ul li>a p {
    color: var(--color-grey-light-2);
  }

  .body.home .main-content section.sdk, .body.home .main-content section {
    background-color: var(--color-bg);
  }

  .body.home .main-content section.game-dev {
    background: var(--color-100);
  }
  .body.home .main-content section.blog {
    background: var(--color-200);
  }
  .body.home .main-content section.sdk li:not(:last-child) {
    border-bottom-color: var(--color-800);
  }
}
