html[data-theme="dark"]{

  .tabs-container {
    background-color: #1A1A1A;
    padding: 0 24px 32px;

    .tabs {
      border-bottom: 1px solid #333333;
      .tabs__item {
        color: #999999;

        &:hover {

          &:after {
            color: #ccc;
          }
        }

        &.tabs__item--active {
          color: #ccc;
        }
      }
    }

  }



  .btn-secondary {
    border: 1px solid var(--color-999);
    color: var(--color-999);

    &:hover {
      background-color: var(--color-grey-light-2);
      border-color: var(--color-grey-light-2);
      color: black;
    }
  }

  .main-content {
    background-color: black;
  }

  body, .body {
      color: var(--color-txt);
      background: var(--color-100) !important;
  }

  h1, h2, h3, h4, h5 {
    color: var(--color-headline);
  }

  aside {
    border-right: 1px solid var(--color-300);
  }

  code {
    color: var(--color-300) !important;
    background-color: #dadada;
  }

  pre {
    code {
      background-color: black;

      span.token-line {
        color: white !important;
      }
    }
  }

  article {

    a {
      color: var(--color-grey-light-2);

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  details {
    border: none;
    background: var(--color-300);

    div[class^="collapsibleContent"] {
      border-top: 1px solid var(--color-bg);
    }

    summary::before {
      border-color: #0000 #0000 #0000 var(--color-grey-light-2);
    }
  }

  div[class^="codeBlockLines"] {
    span.token.string {
      color: #2a9292 !important;
    }

    span.token.punctuation, span.token.property {
      color: #9b9b9b !important;
    }

    span.token.boolean, span.token.number {
      color: #aa573c !important;
    }
  }

  .admonition-content {

    h1, h2, h3, h4, h5, h6 {
      color: var(--color-300);
    }

    a {
      color: var(--color-bg);
      text-decoration-color: var(--color-bg);

      &:hover {
        color: var(--color-primary);
        text-decoration-color: var(--color-primary);
      }
    }

  }

  div[class^="sidebar"] {

    &::before {
      background-color: var(--color-100);
    }
  }

  .theme-doc-sidebar-container .theme-doc-sidebar-item-category .menu__list li a.menu__link,.theme-doc-sidebar-container .theme-doc-sidebar-item-link-level-1 a.menu__link {
    color: var(--color-800);

    &:hover {
      color: var(--color-grey);
    }

    &.menu__link--active {
      color: var(--color-grey);
    }
  }
  .theme-doc-sidebar-container .theme-doc-sidebar-item-category .menu__list-item-collapsible a.menu__link {
    color: var(--color-900);
    &.menu__link--active {
      color: var(--color-grey);
    }
  }

  .table-of-contents {

    &.table-of-contents__left-border {
      border-left: 1px solid var(--color-300);

      @media (max-width: 800px) {
        border-top: 1px solid var(--color-300);
      }
    }

    li {

      a {
        color: var(--color-800);

        &.table-of-contents__link--active, &:hover {
          color: var(--color-grey);
        }
      }
    }
  }

  .prism-code span.token.punctuation {
    color: var(--color-txt)!important;
  }

  .DocSearch.DocSearch-Container {
    .DocSearch-Modal {
      background-color: var(--color-300);
      .DocSearch-Form {
        border: 2px solid var(--color-800);

        .DocSearch-MagnifierLabel, .DocSearch-Reset {
          color: white;
        }

        .DocSearch-Input {
          &::placeholder {
            color: var(--color-600);
          }
        }
      }

      .DocSearch-Prefill {
        color: var(--color-primary);
      }

      .DocSearch-HitsFooter a {
        color: white;

        &:hover {
          color: var(--color-primary);
        }
      }

      .DocSearch-Dropdown-Container {

        .DocSearch-Hits {

          .DocSearch-Hit-source {
            background-color: transparent;
            color: white;
          }

          .DocSearch-Hit a {
            background: var(--color-200);

            &:hover {
              background: var(--color-100);

              mark {
                color: var(--color-primary) !important;

              }

              .DocSearch-Hit-path {
                color: var(--color-700) !important;
              }
            }

            .DocSearch-Hit-path {
              color: var(--color-700) !important;
            }

            mark, .DocSearch-Hit[aria-selected=true] mark {
              color: var(--color-primary) !important;
              text-decoration: none !important;
            }
          }

        }
      }
    }

    .DocSearch-Screen-Icon svg {
      color: white;
    }

    .DocSearch-Footer {
      border-radius: 0;
      background-color: var(--color-200);
      box-shadow: unset;
    }

    .DocSearch-Help, .DocSearch-Label {
      color: var(--color-txt);
    }

    .DocSearch-Commands-Key {
      background: #292929;
      box-shadow: inset 0 -2px 0 0 #505050, inset 0 0 1px 1px #393939, 0 2px 2px 0 rgb(3 4 9 / 30%);
      color: #fff;
    }
  }

  .btn-pink {
    border: 1px solid var(--color-grey);
    color: var(--color-grey);
    text-decoration: none;

    &:hover {
      border: 1px solid transparent;
      color: white;
    }
  }



  th,
  td {
    border-color: var(--color-100);
  }
  th {
    border-color: var(--color-100);
    color: white;
    background: var(--color-300);
  }
  td {
    background: var(--color-200);
    color: var(--color-txt);
  }

  table thead tr {
    border-bottom: var(--color-100);
  }

  .theme-edit-this-page {
    color: white;
  }




  .admonition h5, .admonition p, .admonition ul li, .admonition ul li a {
    color: var(--color-300) !important;
  }

  summary {
      color: var(--color-txt);
    cursor: pointer;
  }

  blockquote {
      background-color: var(--color-300) !important;
      border-left: 2px solid #FF3434;
      padding: 15px 30px 15px 15px;
      color: white !important;
  }

  .alert a {
    text-decoration-color: var(--color-grey-light-2);
  }

}