.tabs-section {
  background-color: var(--color-grey-light-2);

  .tabs-header {
    @media (max-width: 600px) {
      overflow-x: scroll;
    }
  }

  .tabs-nav {
    display: flex;
    border-bottom: 1px solid var(--color-grey-1);

    //if there are more than 3 tabs present than fit width of each tab button
    &:has(> button:nth-child(3)) {
      .tabs-nav-item {
        @media (max-width: 600px) {
          min-width: fit-content;
        }
      }
    }

    .tabs-nav-item {
      flex: 1;
      height: 72px;
      font-size: 16px;
      color: var(--color-220);
      background-color: var(--color-grey-light-2);
      
      font-weight: 700;
      position: relative;
      padding: 8px 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      &:hover, &:focus {
        background-color: var(--color-grey-1);
        font-weight: 700;
      }

      &.is-active {
        font-weight: 700;
        color: var(--color-220);

        &::after {
          height: 2px;
        }
      }

      &::after {
        content: '';
        width: 100%;
        height: 0px;
        background-color: var(--color-primary);
        position: absolute;
        bottom: 0px;
        left: 0;
      }

      img {
        pointer-events: none;
      }
    }

  }

  .panels-container {
    padding: 24px 24px 32px;

    h1, h2, h3, h4, h5, h6, p, a {
      color: var(--color-220);
    }

    a:hover {
      color: var(--color-primary);
    }

    p {
      margin-bottom: 20px;
    }

    .panel {
      display: none;

      &.is-open {
        display: block;
      }

      > *:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

html[data-theme=dark] {
  .tabs-section {
    background-color: var(--color-120);

    .tabs-nav {
      border-color: var(--color-333);
      .tabs-nav-item {
        color: var(--color-999);
        background-color: var(--color-120);
        

        &:hover {
          color: var(--color-txt);
          background-color: var(--color-333);
        }

        &.is-active {
          color: var(--color-txt);
          border-color: var(--color-primary);
        }
      }
    }

    .panels-container {
      h1, h2, h3, h4, h5, h6, p, a {
        color: var(--color-txt);
      }

      a:hover {
        color: var(--color-primary);
      }
    }
  }
}