.tabs-section {
  background-color: var(--color-grey-light-2);

  .tabs-nav {
    display: flex;

    .tabs-nav-item {
      flex: 1;
      height: 72px;
      font-size: 16px;
      color: var(--color-220);
      background-color: var(--color-grey-light-2);
      border-bottom: 1px solid var(--color-grey-1);
      font-weight: 400;
      position: relative;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      &:hover, &:focus {
        background-color: var(--color-grey-1);
        font-weight: 700;
      }

      &.is-active {
        font-weight: 700;
        color: var(--color-220);
        border-bottom: 2px solid var(--color-primary);
        // pointer-events: none;
      }

      img {
        pointer-events: none;
      }
    }
  }

  .panels-container {
    padding: 24px 24px 32px;

    h1, h2, h3, h4, h5, h6, p, a {
      color: var(--color-220);
    }

    a:hover {
      color: var(--color-primary);
    }

    p {
      margin-bottom: 20px;
    }

    .panel {
      display: none;

      &.is-open {
        display: block;
      }

      > *:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

html[data-theme=dark] {
  .tabs-section {
    background-color: var(--color-120);

    .tabs-nav {
      .tabs-nav-item {
        color: var(--color-999);
        background-color: var(--color-120);
        border-color: var(--color-333);

        &:hover {
          color: var(--color-txt);
          background-color: var(--color-333);
        }

        &.is-active {
          color: var(--color-txt);
          border-color: var(--color-primary);
        }
      }
    }

    .panels-container {
      h1, h2, h3, h4, h5, h6, p, a {
        color: var(--color-txt);
      }

      a:hover {
        color: var(--color-primary);
      }
    }
  }
}