:root {
  --evc-table-header-bg: var(--color-black);
  --evc-border-border: var(--border-table);
}

.electron-vs-client-table-section {
  
  .show-hide-table-btn {
    margin: auto;
    display: block;
  }

  .evc-table {
    max-width: 1396px;
    margin: auto;
  }

  .table-header {
    padding: 72px 0 56px;
    display: flex;
    background-color: var(--evc-table-header-bg);

    h2 {
      padding: 10px 20px;
      font-size: 24px;
      line-height: 32px;
      min-height: 88px;
      margin: 0;
      display: flex;
      align-items: center;
      flex: 1;
      border: 1px solid var(--evc-border-border);
      &.logo {

        justify-content: center;
      }
    }
  }
}
