/* brand 2021 colors dark */

:root {
	--color-100: #101010;
	--color-150: #171717;
	--color-200: #202020;
	--color-250: #1C1C1C;
	--color-300: #303030;
	--color-400: #404040;
	--color-500: #505050;
	--color-600: #606060;
	--color-700: #707070;
	--color-800: #808080;
	--color-900: #909090;
	--color-1000: #AAAAAA;

	--color-navbar: #121212;
	--card-black: #151515;
    --card-hover: #DADADA;
	--color-grey: #B5B5B5;
	--color-grey-light: #E9E9E9;
	--color-grey-light-2:#E5E5E5;
	--color-grey-light-3: #F0F0F0;
	--color-gray-active: #EDEDED;
	
	--color-grey-4: #BDBDBD;
	--color-grey-5: #D5D5D5;
	--color-txt: #CCCCCC;
	
	--color-headline: #E2E2E2;
	--color-dark-text: #636363;
	--color-title-light: #f2f2f2;
	--color-white: #fff;
	--color-website-red: #C93D34;

	--color-bg: #060606;
	--color-light-bg: #0F0F0F;
	--color-black: #000000;
    --light-mode-bg: #F4F4F4;
    
	--color-error: #F12717;
	--color-primary: #D34037; /* primary */
	--color-primary-hover: #F3513E; /* primary hover */

	--redE5: #E50000;
	--redFF: #FF3434;
	--blue: #0085E5;
	--orangeE0: #E07000;
	--green45: #00CC45;

	--admonition-tip: #34AFF4;
	--admonition-warning: #ECB1A9;
	--admonition-caution: #FE6E3A;
	--admonition-important: #009944;
	
}