/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/**
 Docusaurus-like styling for `remarkable-admonitions` blocks
 */

.admonition {
  margin-bottom: 1em;
  padding: 15px 30px 15px 15px;
}

.admonition h5 {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.admonition-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2em;
}

.admonition-icon svg {
  display: inline-block;
  width: 22px;
  height: 22px;
  stroke-width: 0;
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

/** Customization */
.admonition-warning {
  background-color: #FF8383;
  border-left: 2px solid #FF3434;
}

.admonition-warning h5 {
  color: #E07000;
}

.admonition-warning .admonition-icon svg {
  stroke: #E07000;
  fill: #E07000;
}

.admonition-tip {
  background-color: #D3CFE5;
  border-left: 2px solid #00CC45;
}

.admonition-tip h5 {
  color: #00CC45;
}

.admonition-tip .admonition-icon svg {
  stroke: #00CC45;
  fill: #00CC45;
}

.admonition-caution {
  background-color: #D3CFE5;
  border-left: 2px solid #E07000;
}

.admonition-caution h5 {
  color: #FF3434;
}

.admonition-caution .admonition-icon svg {
  stroke: #FF3434;
  fill: #FF3434;
}

.admonition-important {
  background-color: #D3CFE5;
  border-left: 2px solid #E6004C;
}

.admonition-important h5 {
  color: #0085E5;
}

.admonition-important .admonition-icon svg {
  stroke: #0085E5;
  fill: #0085E5;
}

.admonition-note {
  background-color: #D3CFE5;
  border-left: 2px solid #797399;
}

.admonition-note h5 {
  color: #f1c40f;
}

.admonition-note .admonition-icon svg {
  stroke: #f1c40f;
  fill: #f1c40f;
}

/* brute-force make all blocks look the same */
.admonition {
  /* background-color: #D3CFE5 !important; */
  /* border-left: 4px solid #E6004C !important; */
  color: #484266 !important;
}

.admonition h5 {
  color: #484266 !important;
}

.admonition-icon svg {
  stroke: #484266 !important;
  fill: #484266 !important;
}

/* ----------------------------------------- */