.site-footer {
  font-family: 'Madera', sans-serif;
  width: 100%;
  background-color: var(--color-bg);
}

.site-footer .site-footer-nav {
  max-width: 1344px;
  margin: 0 auto 60px;
  display: flex;
  padding: 109px 20px 0px;
  justify-content: space-between;
}

.site-footer .site-footer-nav .logo {
  width: 74px;
  height: 74px;
  margin-left: -22px;
  margin-top: 0;
  margin-right: 152px;
  color: var(--color-grey);
}

.site-footer .site-footer-nav nav {
  flex: 1;
}

.site-footer .site-footer-nav nav > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 52px 70px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer .site-footer-nav nav > ul h5 {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey);
  font-weight: bold;
}

.site-footer .site-footer-nav nav > ul ul {
  margin: 16px 0 0;
  padding: 0;
  list-style: none;
}

.site-footer .site-footer-nav nav > ul ul li + li {
  margin-top: 12px;
}

.site-footer .site-footer-nav nav > ul ul li a {
  font-size: 14px;
  line-height: 21px;
  color: var(--color-900);
  text-decoration: none;
}

.site-footer .site-footer-nav nav > ul ul li a:hover,
.site-footer .site-footer-nav nav > ul ul li a.is-active {
  color: var(--color-900);
  text-decoration: underline;
}

.site-footer .site-footer-social {
  background: #1C1C1C;
}

.site-footer .site-footer-social .site-footer-social-inner {
  max-width: 1344px;
  margin: 0 auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}

.site-footer .site-footer-social .copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer .site-footer-social .copyright span {
  color: var(--color-900);
  font-size: 14px;
}

.site-footer .site-footer-social .social-links {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}

.site-footer .site-footer-social .social-links li + li {
  margin-left: 10px;
  margin-top: 0;
}

.site-footer .site-footer-social .social-links li a {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-900);
  display: inline-block;
}

.site-footer .site-footer-social .social-links li a:hover {
  background-color: var(--color-headline);
}

.site-footer .site-footer-social .social-links li a svg {
  color: #060606;
}

.site-footer .site-footer-social .social-links img {
  width: 24px;
  height: 24px;
}

@media (max-width: 1180px) { 
  .site-footer .site-footer-nav {
    padding-top: 72px;
    flex-direction: column;
  }

  .site-footer .site-footer-nav .logo {
    margin-left: 0px;
  }

}