.getting-started-article::before {
	display: none;
}

.btn-pink,
.mainContainer .post a.btn-pink {
	font-family: 'Madera', sans-serif;
    letter-spacing: 0.3px;
	border: 1px solid var(--color-400);
    color: var(--color-400);
    padding: 16px 32px;
    line-height: 17px;
    height: 50px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    background: none;
	transition: all 150ms ease;
}

.btn-pink:hover,
.mainContainer .post a.btn-pink:hover {
	border-color: var(--color-website-red);
    background-color: var(--color-website-red);
    color: var(--color-grey-light);
}

.getting-started-container {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  max-width: 784px;
}

.getting-started-container h2 {
	font-size: 24px;
}

.what-can-apps-do-intro {
	margin: 0 0 24px;
}

.what-apps-do-list {
	padding: 0 0 0 24px;
	margin: 0 0 54px;
}

.what-apps-do-list h3 {
	font-size: 18px;
	line-height: 30px;
	margin: 8px 0 8px;
}

.what-apps-do-list p {
	font-size: 18px;
	line-height: 30px;
	margin: 8px 0 24px;
}

@media (max-width: 1024px) {
	.getting-started-container {
		max-width: 655px;
		margin: auto;
	}
}

@media (max-width: 760px) {
	.getting-started-container {
		max-width: 100%;
		padding: 40px 45px;
	}
}


@media (max-width: 1024px) {
	.getting-started-container h2 {
		margin-bottom: 20px;
	}
}

@media (max-width: 760px) {
	.getting-started-container .video-outer-area {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 760px) {
	.getting-started-container .video-outer-area h2 {
		order: 2;
	}
}

@media (max-width: 760px) {
	.getting-started-container .video-outer-area p {
		order: 3;
	}
}

.getting-started-container .video-outer-area .video-container {
	width: 100%;
	margin: 56px 0px;
}

@media (max-width: 1024px) {
	.getting-started-container .video-outer-area .video-container {
		padding-top: 10px;
	}
}

@media (max-width: 760px) {
	.getting-started-container .video-outer-area .video-container {
		order: 1;
		padding-top: 0;
		padding-bottom: 30px;
	}
}

.getting-started-container .video-outer-area .video-container .video-container-inner {
	max-width: 442px;
	margin: auto;
}

.getting-started-container .video-outer-area .video-container .video-container-inner video {
	width: 100%;
}

.getting-started-container .video-outer-area .video-container .start-build-container-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 15px;
}

@media (max-width: 760px) {
	.getting-started-container .video-outer-area .video-container .start-build-container-btn {
		padding-top: 25px;
	}
}



.getting-started-container .start-build-footer-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
	margin-bottom: 60px;
	flex-direction:column;
}


.start-build-footer-btn p {
	padding-top: 42px;
	margin: 0;
}

.special-title {
	margin-bottom: 32px;
}



@media (max-width: 1024px) {
	.getting-started-container .start-build-footer-btn {
		padding-top: 10px;
	}
}

@media (max-width: 760px) {
	.getting-started-container .start-build-footer-btn {
		padding-top: 20px;
	}
}

@media (max-width: 760px) {
	.getting-started-container .what-can-apps-do-intro {
		margin-bottom: 20px;
	}
}

@media (max-width: 760px) {
	.getting-started-container .were-apps-live-intro {
		margin-bottom: 25px;
	}
}

@media (max-width: 320px) {
	.getting-started-container .were-apps-live-intro {
		margin-bottom: 15px;
	}
}

@media (max-width: 600px) {
	.video-container iframe {
	   height: 155px;
	}
}

.center-text {
	text-align: center;
 }
