img[alt*="light-theme"], img[alt*="dark-theme"], img[alt*="mobile-light"], img[alt*="mobile-dark"] {
  margin: inherit;
  margin-bottom: 80px;
}

.theme-dark img[alt*="light-theme"], img[alt*="dark-theme"], img[alt*="mobile-light"], img[alt*="mobile-dark"] {
  display: none;
}

.theme-dark img[alt*="dark-theme"] {
  display: block;
}

@media (max-width: 1180px) {
  .theme-dark img[alt*="dark-theme"], img[alt*="light-theme"], .theme-dark img[alt*="mobile-light"] {
    display: none;
  }

  .theme-dark img[alt*="mobile-dark"], img[alt*="mobile-light"] {
    display: block;
    margin: auto;
  }

}

div#docsNav .os-scrollbar-track-off {
  width: 12px;
  position: fixed;
  top: 122px;
}

.mainContainer a {
  text-decoration-line: underline;
	transition: color .2s;
}
.mainContainer .post a {
  color: var(--color-website-red);
  color: var(--color-bg);
}
.mainContainer .post a:hover {
	color: var(--color-primary-hover)
}

.fixedHeaderContainer {
  padding: 0.7%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  background: var(--color-bg);
  min-height: 76px;
  padding-top: 22px;
  z-index: 100;
}

.docMainWrapper,
.main-content {
  color: #332E4D;
}


@media only screen and (max-width: 1024px) {
  .navigationSlider .slidingNav ul {
    margin-top: 50px;
    flex-direction: column;
    background-color: transparent;
  }

  .navSearchWrapper {
    width: 90%;
  }

  .navigationSlider .slidingNav ul li.reactNavSearchWrapper {
    top: 19px;
    }

  .navigationSlider .slidingNav ul li a {
    justify-content: flex-start;
    padding: 0 10px 0 13px; 
    height: 48px;
    letter-spacing: .05em;
    border-left: 7px solid var(--color-100);
    font-size: 16px !important;
    line-height: 24px;
    font-weight: 300;
  }

  .slidingNav ul li.siteNavGroupActive > a {
    background-color: transparent !important;
    border-left: 7px solid var(--color-primary);
  }

  .navigationSlider .slidingNav {
    background-color: var(--color-100);
    text-align: center;
    width: 312px;
    overflow: overlay;
    height: 100vh;
    padding-bottom: 80px;
    z-index: 99;
    left: -312px;
    transition: all 300ms ease;
    margin-top: 76px;
  }

  .navigationSlider .slidingNav.is-open {
    left: 0;
  }

  .navigationSlider .slidingNav::after {
    content: ''; 
    height: 100vh ; 
    width: 100%;
    background-color: #101010e8; 
    position: fixed; 
    right: 0px; 
    z-index: 0;
    top: 75px ;
    transition: opacity 300ms ease-in;
    opacity: 0;
    pointer-events: none;
  }

  .navigationSlider .slidingNav.is-open::after {
    opacity: 1;
    width: calc(100vw - 309px); 
  }
}

@media only screen and (max-width: 800px) {
  .navPusher {
    padding-top: 76px;
  }

  .docMainWrapper.wrapper {
    margin-top: 40px;
}
  .docsNavContainer{
    top: 76px;
  } 
}

@media only screen and (min-width: 1024px) {
  
  .docsNavContainer {
      height: calc(100vh - 60px);
      top: 60px;
  }

  .navigationSlider .slidingNav ul li {
    margin-right: 42px;
  }

  .navigationSlider .slidingNav ul li:last-child {
    margin-right: 0px;
  }

  .navigationSlider .slidingNav ul li a {
    color: var(--color-txt);
    padding: 0;
  }

  .navigationSlider .slidingNav ul li a:hover,
  .navigationSlider .slidingNav ul li.siteNavItemActive a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: var(--color-grey-light);
    background-color: transparent;
  }
}

.collapsible .arrow {
  transform: rotate(180deg);
  position: absolute;
  top: 5px;
  right: -4px;
}

.collapsible .arrow.rotate {
  transform: none;
}


@media only screen and (min-width: 1024px) {
	.navPusher {
    padding-top: 76px;
	}
}

@media only screen and (max-width: 800px) {
	.navPusher {
    padding-top: 76px;
	}
}

nav.toc {
  padding-right: 0px;
}

.toc .toggleNav ul li a {
  color: var(--color-600);
  padding: 0px 0px 8px 30px;
  font-size: 16px;
  letter-spacing: 0.01em;
}

.toc .toggleNav ul li a:hover {
  color: var(--color-primary);
}

.toc .toggleNav ul li.navListItemActive a {
  color: var(--color-primary);
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
  border-left: 7px solid transparent;
  padding: 5px 0px 5px 12px;
  color: var(--color-500);
  font-size: 16px;
  letter-spacing: 0.01em;
  position: relative;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle.is-active {
  border-left: 7px solid var(--color-primary);
  color: var(--color-bg);
  font-weight: 700;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle:hover {
  color: var(--color-bg);
}

.collapsible  {
	fill: var(--color-500);
}

.toc .toggleNav .navGroup .navGroupCategoryTitle.is-active .arrow svg path[fill="#565656"] {
  fill: var(--color-bg);
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle {
  padding-left: 25px;
  font-size: 14px;
}

a.edit-page-link {
  font-family: 'Madera', sans-serif;
  float: none;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  border-radius: 0px;
  display: none;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid var(--color-600);
  padding: 5px 16px;
  min-width: 65px;
  min-height: 32px;
  box-sizing: border-box;
  color: var(--color-600);
  border-radius: 0px;
  text-align: center;
  font-weight: 600;
  margin-left: 22px;
  transition: all 150ms ease;
}

a.edit-page-link:hover {
  border: 1px solid var(--color-bg);
  color: var(--color-600);
  background-color: transparent;
  font-weight: 600;
}

a.active-highlight {
  color: var(--color-bg) !important
}

.onPageNav {
  position: sticky;
  top: 128px;
  overflow-y: unset;
  z-index: 0;
}

.onPageNav > .toc-headings {
  border: none;
  padding-left: 22px;
  overflow-y: auto;
  height: calc(100vh - 390px);
}

.onPageNav > .toc-headings::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--color-txt);
}

.onPageNav > .toc-headings::-webkit-scrollbar-thumb {
  border-width: 0;
  background-color: var(--color-800);
  background-clip: padding-box;
}

.onPageNav::before {
  content: '';
	position: absolute;
	height: 101%;
	width: 1px;
  left: 0;
  top: 0px;
	background-color: var(--color-600);
}

.onPageNav a {
  color: var(--color-600);
  font-size: 14px;
  line-height: 144%;  
  font-family: 'Madera', sans-serif;
}

.onPageNav .toc-headings > li > a.active {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-bg);
  font-weight: normal;
}

.onPageNav a:hover {
  color: var(--color-bg);
}

.hash-link-icon {
  display: initial;
}

html:not(.theme-dark) .hljs {
  background: var(--card-hover);
}

code:not(.hljs) {
  background-color: var(--card-hover);
}
code,
.hljs {
  color: var(--color-bg);
}

code a {
  text-decoration: none;
}

table th {
  background: var(--color-txt);
}

table th, table td {
  border-color: var(--color-grey);
}

.gep-game .search-game .search-submit img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
}

.medium-widget {
  padding: 0; 
}

.navigationSlider .slidingNav ul li a {
  color: var(--color-txt);
  background-color: transparent;
  font-size: 15px;
font-family: 'Madera', sans-serif;
  padding-top: 3px;
}

.navigationSlider .slidingNav ul li a:hover {
  background-color: transparent;
}

.box {
  max-width:800px;
  text-align: center;
  color: red;
}

input::-webkit-input-placeholder {
  color: var(--color-300);
}

input::-moz-placeholder {
  color: var(--color-300);
}

input::placeholder {
  color: var(--color-300);
}

.reactNavSearchWrapper input#search_input_react {
  color: var(--color-white);
  background: transparent;
  width: 164px;
  height: 27px;
  font-size: 15px;
  border: 1px solid var(--color-800);
  border-radius: 0;
  padding: 0 0 0 28px;
}

input#search_input_react::placeholder {
  color: var(--color-800);
}


input#search_input_react:focus,
input#search_input_react:active {
  color: #D3CFE5;
  width: 170px;
}


/* @media only screen and (max-width: 1024px) {

} */

.navSearchWrapper {
  padding-left: 0;
}

.navSearchWrapper::before {
  border-color: var(--color-txt);
  border-width: 2px;
  width: 8px;
  height: 8px;
  left: 6px;
  top: 13px;
}

.navSearchWrapper::after {
  background: var(--color-txt);
  height: 6px; 
  width: 2px; 
  left: 17px; 
  top: 15px; 
  transform: rotate(-58deg);
}

.navSearchWrapper:hover::before {
  border-color: var(--color-grey-light);
}

.navSearchWrapper:hover::after {
  background: #D3CFE5;
}

.navSearchWrapper:focus-within::before {
  border-color: var(--color-grey-light);
}

.navSearchWrapper:focus-within::after {
  background: var(--color-grey-light);
}

#blogHeader {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 90px;
  margin-top: 0;
}

.medium-widget-article__item {
  padding: 0 !important;
}

.medium-widget-article__row {
  gap: 100px;
  margin: 0 !important;
  flex-wrap: wrap;
}

.medium-widget-article__content {
  display: flex;
  flex-direction: column;
}

.medium-widget-article__info {
  order: 0;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 34px !important;
}

.medium-widget-article__date {
  color: var(	--color-300) !important;
}

.medium-widget-article__title {
  color: var(	--color-bg) !important;
  order: 1;
  font-family: 'Madera', sans-serif;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 24px !important;
}

.medium-widget-article__description {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px !important;
  order: 2;
  color: var(	--color-300) !important;
}

.navGroupSubcategoryTitle {
  cursor: pointer;
}

.docs-prevnext .button {
  border: none;
  color: var(--color-600);
  text-transform: none;
  transition: color .3s ease-in-out;
}

.docs-prevnext .button:hover {
  background: none;
  color: var(--color-bg);
}

.docs-prevnext {
  border-top: 1px solid var(--color-300);
  padding-top: 20px;
}

.docLastUpdate {
  color: var(--color-600);
}

i.arrow {
  border: solid currentColor;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4.3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 10px;
}

blockquote {
  background-color: var(--card-hover);
  border-left: 2px solid var(--color-800);;
  padding: 15px 30px 15px 15px;
  color: var(--color-bg);
}

/* Make space between images */
.slick-slide {
  margin-right: 10px;
}

/* Bottom margin for slick gallery */
.slick-dotted.slick-slider {
  margin-bottom: 60px;
}

.slick-slider a {
  color: var(--color-300);
  font-size: 14px;
  font-family: 'Lato';
  line-height: 40px;
}

.slick-slider a:hover {
  color: #332E4D !important;
}

.sso-demo {
  margin-bottom: 16px;
}
.sso-demo code {
  display: block;
  margin-bottom: 16px;
  padding: 1.25rem 1.5rem;
  color: #484266;
  background: #D3CFE5;
  font-size: 85%;
}
.theme-dark .sso-demo code {
	color: #958FB2;
	background-color: #0D0A1A;
}

button.button-sso-login {
  display: block;
  width: 130px;
  height: 36px;
  line-height: 36px;
	background: var(--color-website-red);
	text-align: center;
  color: var(--color-grey-light) !important;
  text-decoration: none;
	transition: background .2s
}

button.button-sso-login:hover {
	background: var(--color-primary-hover)
}

.wrapper {
  max-width: 1334px;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

.fixedHeaderContainer header img {
  width: 228px;
  height: 50px;
}

#back-to-top {
  background: var(--color-150);
}

#back-to-top:hover {
  background: var(--color-200);
}



.hamburger-menu-button {
  display: none;
}



@media only screen and (max-width: 800px) {
  .hamburger-menu-button {
    position: fixed;
    z-index: 101;
    display: block;
    background: transparent;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    cursor: pointer;
    right: 11px; 
    top: 21px;
  }
  .hamburger-menu-button > div {
    position: relative;
    width: 20px;
    height: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.4s ease-in-out;
  }
  .hamburger-menu-button > div span {
    background: #b5b5b5;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    transition: 0.4s ease-in-out;
    border-radius: 1px;
  }
  .hamburger-menu-button > div span:first-child {
    top: 0;
    left: 0;
  }
  .hamburger-menu-button > div span:nth-child(2) {
    top: 8px;
    left: 0;
  }
  .hamburger-menu-button > div span:nth-child(3) {
    top: 16px;
    left: 0;
  }
  .hamburger-menu-button.close > div {
    transform: rotate(-180deg);
  }
  .hamburger-menu-button.close > div span:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-menu-button.close > div span:nth-child(2) {
    transform: scaleX(0);
  }
  .hamburger-menu-button.close > div span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}