.theme-dark .body {
    color: var(--color-txt);
    background: var(--color-bg);
}

.theme-dark .docMainWrapper .mainContainer::before, .theme-dark .onPageNav::before {
	background-color: var(--color-300);
}

.theme-dark .body.home .main-content section.sdk li p, .theme-dark .body.home .main-content section.game-dev p {
	color: var(--color-txt);
}

.theme-dark .body.home .main-content a.btn {
	color: var(--color-grey);
}

.theme-dark .body.home .main-content section.sdk li p a {
	color: var(--color-headline);
}

.theme-dark .navPusher {
	background: var(--color-100);
}


@media only screen and (min-width: 1024px) {
	.theme-dark .onPageNav > .toc-headings {
		border-left-color: var(--color-600);
	}
}

.theme-dark article p {
	color: var(--color-txt);
}
.theme-dark .onPageNav a, .theme-dark a.edit-page-link {
	color: var(--color-800);
}
.theme-dark a.edit-page-link {
	border-color: var(--color-800);
}

.theme-dark a.edit-page-link:hover {
	border-color: var(--color-grey-light);
	color: var(--color-grey);
}

.theme-dark .onPageNav .toc-headings > li > a.active,
.theme-dark .onPageNav .toc-headings > li > a.hover, .theme-dark .onPageNav a:hover {
	color: var(--color-grey);
}

.theme-dark .toc .toggleNav .navGroup .navGroupCategoryTitle.is-active {
	color: var(--color-grey);
}
.theme-dark .toc .toggleNav .navGroup .navGroupCategoryTitle.is-active .arrow svg path[fill="#565656"] {
	fill: var(--color-grey);
}
.theme-dark .toc .toggleNav .navGroup .navGroupCategoryTitle {
	color: var(--color-900);
}
.theme-dark .toc .toggleNav .navGroup .navGroupCategoryTitle:hover {
	color: var(--color-900);
}
.theme-dark .toc .toggleNav ul li a {
	color: var(--color-800);
}
.theme-dark .toc .toggleNav ul li a:hover,
.theme-dark .toc .toggleNav ul li.navListItemActive a {
	color: var(--color-grey);
}
.theme-dark .collapsible .arrow svg path[fill="#565656"] {
	fill: var(--color-800);
}

.theme-dark .mainContainer .post a.btn-pink {
	border: 1px solid var(--color-grey);
	color: var(--color-grey);
}

.theme-dark  .onPageNav > .toc-headings::-webkit-scrollbar {
  background-color: var(--color-200);
}

.theme-dark  .onPageNav > .toc-headings::-webkit-scrollbar-thumb, .os-theme-overwolf > .os-scrollbar-horizontal > .os-scrollbar-track:before,
.os-theme-overwolf > .os-scrollbar-vertical > .os-scrollbar-track:before {
  background-color: var(--color-600);
}

.theme-dark pre .btnIcon {
	color: var(--color-grey);
}

.theme-dark .mainContainer .admonition-content p a {
  color: var(--color-300);
}

.theme-dark .mainContainer ul, .theme-dark .mainContainer ol, .theme-dark .mainContainer pre{
	color: var(--color-txt);
}

.theme-dark .slick-prev:before,
.theme-dark .slick-next:before {
	color: var(--color-primary-hover)
}

.theme-dark .mainContainer .post a { 
	color: var(--color-headline); 
	text-decoration-color: var(--color-grey);
}

.theme-dark .mainContainer .post a:hover { 
	color: var(--color-primary-hover); 
	text-decoration-color: var(--color-primary-hover);
}

.theme-dark .slick-slider a:hover {	color: var(--color-primary-hover); }
.theme-dark .main-content a { color: var(--color-headline); }
.theme-dark .main-content a:hover { color: var(--color-primary-hover); }

.theme-dark .mainContainer h1,
.theme-dark .mainContainer h2,
.theme-dark .mainContainer h3,
.theme-dark .mainContainer h4,
.theme-dark .main-content h2,
.theme-dark .main-content h3,
.theme-dark .main-content h4,
.theme-dark .getting-started-container h1,
.theme-dark .getting-started-container h2,
.theme-dark .getting-started-container h3,
.theme-dark .getting-started-container .icons-list li h3 {
	color: var(--color-headline);
}

.theme-dark .main-content h1 {
	color: var(--color-grey-light);
}

.theme-dark th,
.theme-dark td {
	border-color: var(--color-100);
}
.theme-dark th {
	border-color: var(--color-100);
	color: var(--color-900);
	background: var(--color-300);
}
.theme-dark td {
	background: var(--color-200);
	color: var(--color-txt);
}

.theme-dark code:not(.hljs) {
	color: var(--color-300);
	background-color: var(--color-grey);
}
.theme-dark .hljs {
	color: var(--color-600);
	background-color: var(--color-black);
}
.theme-dark .hash-link-icon {
	fill: var(--color-900)
}

.theme-dark .body.home .main-content section.tiles ul li>a {
	background: var(--card-black);
}

.theme-dark .body.home .main-content section.tiles ul li>a:hover {
	background: var(--color-200);
}
.theme-dark .body.home .main-content .subtitle, .theme-dark .body.home .main-content section.tiles ul li>a p {
	color: var(--color-grey-light-2);
}

.theme-dark .body.home .main-content section.game-dev {
	background: var(--color-100);
}
.theme-dark .body.home .main-content section.blog {
	background: var(--color-200);
}
.theme-dark .body.home .main-content section.sdk li:not(:last-child) {
	border-bottom-color: var(--color-800);
}
.theme-dark #blogHeader,
.theme-dark .medium-widget-article__title {
	color: var(--color-grey-light-2) !important;
}
.theme-dark .medium-widget-article__date {
	color: var(--color-900) !important;
}
.theme-dark .medium-widget-article__description{
	color: var(--color-txt) !important;
}

.theme-dark .docs-prevnext .button {
	color: var(--color-600);
}
.theme-dark .docs-prevnext .button:hover {
	color: var(--color-900);
}

.theme-dark .gep-games-list ul.list li a {
	color: var(--color-grey);
	background: var(--color-200);
}
.theme-dark .gep-games-list ul.list li a:hover {
	color: var(--color-900);
	background: var(--color-300);
}
.theme-dark .gep-game .search-game {
	color: var(--color-500);
	background: var(--color-200);
}
.theme-dark .gep-game .search-game:hover .search-input,
.theme-dark .gep-game .search-game .search-input:focus {
	color: var(--color-900);
	background: transparent;
}
.theme-dark .gep-game .game-data h4,
.theme-dark .gep-game .game-data ul {
	background: var(--color-200);
}
.theme-dark .gep-game .game-data li {
	border-top-color: var(--color-black);
}

.theme-dark .docsNavContainer .toc .navBreadcrumb {
	background-color: var(--color-black);
}
@media only screen and (max-width: 1023px) {
	.theme-dark .docsNavContainer,
	.theme-dark .tocActive .onPageNav {
		background-color: var(--color-black);
	}
}
.theme-dark .toc .toggleNav,
.theme-dark .navBreadcrumb a,
.theme-dark .navBreadcrumb span {
	color: var(--color-900);
}
.theme-dark .line1,
.theme-dark .line2,
.theme-dark .line3 {
	background-color: var(--color-900);
}
.theme-dark .docsSliderActive .toc .navBreadcrumb,
.theme-dark .tocActive .navBreadcrumb {
	border-bottom-color: var(--color-300);
}

.theme-dark article ul li {
	color: var(--color-txt);
}
/* brute-force make all blocks look the same */
.theme-dark .admonition {
	background-color: var(--color-grey) ;  
  }

.theme-dark .admonition h5, .theme-dark .admonition p, .theme-dark .admonition ul li, .theme-dark .admonition ul li a {
	color: var(--color-300) !important;
}

.theme-dark summary {
    color: var(--color-txt);
	cursor: pointer;
}

.theme-dark blockquote {
    background-color: var(--color-300) !important; 
    border-left: 2px solid #FF3434;
    padding: 15px 30px 15px 15px;
    color: var(--color-800) !important;
}

.dark-mode-switch {
	display: block;
	position: absolute;
	top: 2px;
	left: 304px;
	bottom: 0;
	margin: auto 0;
	z-index: 2;
	width: 52px;
	height: 26px;
	cursor: pointer;
}
@media only screen and (max-width: 1250px) {
	.dark-mode-switch {
		left: 170px;
	}
}
@media only screen and (max-width: 480px) {
	.dark-mode-switch {
		left: 176px;
		top: -1px;
	}
}

.dark-mode-switch::after {
    content: '';
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8967 0.1243L12.2835 2.55512L14.7149 2.93836L12.5226 4.05745L12.9095 6.48827L11.1677 4.74909L8.9754 5.86818L10.0912 3.67421L8.34945 1.93502L10.7808 2.31827L11.8967 0.1243ZM18.5953 17.4217C7.58877 18.3567 5.18492 9.651 6.34535 3.71975C1.1058 5.45808 -1.96535 14.2069 4.24812 19.666C9.57461 24.3457 16.9702 20.7383 18.5953 17.4217ZM16.3882 9.10805L15.8744 5.87924L14.3922 8.79344L11.1627 8.28439L13.4762 10.5945L11.9941 13.5087L14.9061 12.0222L17.2197 14.3324L16.7058 11.1036L19.6178 9.6171L16.3882 9.10805Z' fill='%23808080'/%3E%3C/svg%3E");
    background-position: center center;
    position: absolute;
    left: -34px;
    top: 0px;
    width: 20px;
    height: 22px;
}

.dark-mode-switch::before {
  content: '';
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.535 3.81367C12.01 3.88741 12.4829 4.01306 12.946 4.19326L15.7718 1.39995L14.7348 5.2236C15.1257 5.53662 15.4754 5.88834 15.7811 6.27031L19.6007 5.2345L16.8092 8.05838C16.9852 8.51304 17.1123 8.98624 17.1874 9.46933L20.9993 10.5031L17.1887 11.5365C17.1152 12.0114 16.9898 12.4842 16.8099 12.9473L19.6007 15.7705L15.7819 14.7349C15.469 15.1263 15.1172 15.4766 14.7352 15.7827L15.7718 19.605L12.9468 16.8125C12.4919 16.9889 12.0184 17.1162 11.535 17.1915L10.5008 21.0052L9.46708 17.1935C8.99314 17.1203 8.52127 16.9954 8.0591 16.8162L5.23783 19.605L6.27225 15.7906C5.87705 15.4753 5.52375 15.1205 5.21533 14.7349L1.39662 15.7705L4.18773 12.9469C4.01184 12.4923 3.8849 12.0192 3.80987 11.5363L0 10.5031L3.80864 9.47023C3.88218 8.99489 4.00771 8.52165 4.18786 8.0582L1.39662 5.2345L5.21643 6.27038C5.53196 5.87588 5.88688 5.52324 6.27254 5.21544L5.23783 1.39995L8.06046 4.19014C8.51359 4.01526 8.98508 3.88899 9.46639 3.81428L10.5008 0L11.535 3.81367Z' fill='%23808080'/%3E%3C/svg%3E");
  background-position: center center;
  position: absolute;
  right: -34px;
  top: 2px;
  width: 20px;
  height: 22px;
}


.dark-mode-switch input {
	display: block;
	position: absolute;
	visibility: hidden;
}
.dark-mode-switch span {
	display: block;
	position: relative;
	width: 52px;
	height: 26px;
	
	background: var(--color-500);
	border: 1px solid var(--color-500);
	border-radius: 14px;
	line-height: 0;
	font-size: 0;
	color: transparent;
	transition: background .12s ease-in-out;
	pointer-events: none;
}
.dark-mode-switch input:checked + span {
	background: var(--color-800);
	border: 1px solid var(--color-800);
}
.dark-mode-switch span:before {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	right: 2px;
	width: 18px;
	height: 18px;
	background: var(--color-bg);
	border-radius: 50%;
	transition:
		right .12s ease-in-out,
		background-image .12s ease-in-out;
}

.dark-mode-switch:hover span:before {
	background: var(--color-200); 
}
.dark-mode-switch input:checked + span:before {
	right: 29px;
}

.theme-dark .docLastUpdate {
	color: var(--color-800);
}