.theme-dark .navPusher {
	background: var(--color-100);
}

.theme-dark .docMainWrapper,
.theme-dark .main-content,
.theme-dark .getting-started-container p {
	color: var(--color-800);
}

.theme-dark::-webkit-scrollbar-track,
.theme-dark ::-webkit-scrollbar-track,
.theme-dark::-webkit-scrollbar-button,
.theme-dark ::-webkit-scrollbar-button {
	background-color: var(--color-100);
}
.theme-dark::-webkit-scrollbar-thumb,
.theme-dark ::-webkit-scrollbar-thumb {
	background-color: var(--color-600);
}
.theme-dark::-webkit-scrollbar-thumb:hover,
.theme-dark ::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-700);
}

.theme-dark {
	scrollbar-color: var(--color-600) var(--color-100);
}

@media only screen and (min-width: 1024px) {
	.theme-dark .onPageNav > .toc-headings {
		border-left-color: var(--color-600);
	}
}
.theme-dark .onPageNav .toc-headings > li > a.active,
.theme-dark .onPageNav .toc-headings > li > a.hover {
	color: var(--color-900);
}
.theme-dark .toc .toggleNav .navGroup .navGroupCategoryTitle {
	color: var(--color-800);
}
.theme-dark .toc .toggleNav .navGroup .navGroupCategoryTitle:hover {
	color: var(--color-900);
}
.theme-dark .toc .toggleNav ul li a {
	color: var(--color-600);
}
.theme-dark .toc .toggleNav ul li a:hover,
.theme-dark .toc .toggleNav ul li.navListItemActive a {
	color: var(--color-900);
}
.theme-dark .collapsible .arrow svg path[fill="#565656"] {
	fill: var(--color-900);
}
.theme-dark .mainContainer .post a { color: #8E7CBF; }
.theme-dark .mainContainer .post a:hover { color: #B2A1E5; }
.theme-dark .slick-slider a:hover {	color: #B2A1E5 !important; }
.theme-dark .mainContainer .post a.btn-pink { color: white; }
.theme-dark .main-content a { color: #8E7CBF; }
.theme-dark .main-content a:hover { color: #B2A1E5; }
.theme-dark .mainContainer h1,
.theme-dark .mainContainer h2,
.theme-dark .mainContainer h3,
.theme-dark .mainContainer h4,
.theme-dark .main-content h1,
.theme-dark .main-content h2,
.theme-dark .main-content h3,
.theme-dark .main-content h4,
.theme-dark .getting-started-container h1,
.theme-dark .getting-started-container h2,
.theme-dark .getting-started-container h3,
.theme-dark .getting-started-container .icons-list li h3 {
	color: var(--color-900);
}
.theme-dark th,
.theme-dark td {
	border-color: var(--color-100);
}
.theme-dark th {
	border-color: var(--color-100);
	color: var(--color-900);
	background: var(--color-300);
}
.theme-dark td {
	background: var(--color-200);
}
.theme-dark code:not(.hljs) {
	color: var(--color-900);
	background-color: var(--color-300);
}
.theme-dark .hljs {
	color: var(--color-600);
	background-color: var(--color-black);
}
.theme-dark .hash-link-icon {
	fill: var(--color-900)
}

.theme-dark .body.home .main-content section.tiles {
	background: var(--color-200);
}
.theme-dark .body.home .main-content section.tiles ul li>a:hover {
	background: var(--color-300);
}
.theme-dark .body.home .main-content .subtitle {
	color: var(--color-900);
}
.theme-dark .body.home .main-content section.sdk {
	background: var(--color-100);
}
.theme-dark .body.home .main-content section.game-dev {
	background: var(--color-200);
}
.theme-dark .body.home .main-content section.blog {
	background: var(--color-100);
}
.theme-dark .body.home .main-content section.sdk li:not(:last-child) {
	border-bottom-color: var(--color-500);
}
.theme-dark #blogHeader,
.theme-dark .medium-widget-article__title {
	color: var(--color-900) !important;
}
.theme-dark .medium-widget-article__description,
.theme-dark .medium-widget-article__date {
	color: var(--color-600) !important;
}

.theme-dark .docs-prevnext .button {
	color: var(--color-600);
}
.theme-dark .docs-prevnext .button:hover {
	color: var(--color-900);
}

.theme-dark .gep-games-list ul.list li a {
	color: var(--color-600);
	background: var(--color-200);
}
.theme-dark .gep-games-list ul.list li a:hover {
	color: var(--color-900);
	background: #332E4C;
}
.theme-dark .gep-game .search-game {
	color: var(--color-500);
	background: var(--color-200);
}
.theme-dark .gep-game .search-game:hover .search-input,
.theme-dark .gep-game .search-game .search-input:focus {
	color: var(--color-900);
	background: transparent;
}
.theme-dark .gep-game .game-data h4,
.theme-dark .gep-game .game-data ul {
	background: var(--color-200);
}
.theme-dark .gep-game .game-data li {
	border-top-color: var(--color-black);
}

.theme-dark .docsNavContainer .toc .navBreadcrumb {
	background-color: var(--color-black);
}
@media only screen and (max-width: 1023px) {
	.theme-dark .docsNavContainer,
	.theme-dark .tocActive .onPageNav {
		background-color: var(--color-black);
	}
}
.theme-dark .toc .toggleNav,
.theme-dark .navBreadcrumb a,
.theme-dark .navBreadcrumb span {
	color: var(--color-900);
}
.theme-dark .line1,
.theme-dark .line2,
.theme-dark .line3 {
	background-color: var(--color-900);
}
.theme-dark .docsSliderActive .toc .navBreadcrumb,
.theme-dark .tocActive .navBreadcrumb {
	border-bottom-color: var(--color-300);
}

/* brute-force make all blocks look the same */
.theme-dark .admonition {
	background-color: var(--color-300) !important; 
	/* border-left: 4px solid var(--color-primary) !important; */
	color: var(--color-800) !important;
  }

.theme-dark .admonition h5 {
	color: var(--color-800) !important;
}

.theme-dark .admonition-icon svg {
    stroke: var(--color-800) !important;
    fill: var(--color-800) !important;
}

.theme-dark blockquote {
    background-color: var(--color-300) !important; 
    border-left: 2px solid #FF3434;
    padding: 15px 30px 15px 15px;
    color: var(--color-800) !important;
}

.dark-mode-switch {
	display: block;
	position: absolute;
	top: 2px;
	left: 275px;
	bottom: 0;
	margin: auto 0;
	z-index: 2;
	width: 48px;
	height: 21px;
	cursor: pointer;
}
@media only screen and (max-width: 1150px) {
	.dark-mode-switch {
		left: 170px;
	}
}
@media only screen and (max-width: 480px) {
	.dark-mode-switch {
		left: 80px;
	}
}
.dark-mode-switch input {
	display: block;
	position: absolute;
	visibility: hidden;
}
.dark-mode-switch span {
	display: block;
	position: relative;
	width: 48px;
	height: 21px;
	background: var(--color-800);
	border: 1px solid var(--color-800);
	border-radius: 14px;
	line-height: 0;
	font-size: 0;
	color: transparent;
	transition: background .12s ease-in-out;
	pointer-events: none;
}
.dark-mode-switch input:checked + span {
	background: var(--color-bg);
}
.dark-mode-switch span:before {
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	width: 19px;
	height: 19px;
	background: var(--color-bg);
	border: 1px solid var(--color-800);
	border-radius: 50%;
	transition:
		left .12s ease-in-out,
		background-image .12s ease-in-out;
}

.dark-mode-switch:hover span:before {
	background: var(--color-500); 
}
.dark-mode-switch input:checked + span:before {
	left: 26px;
}
