.site-footer a:active, .site-footer a:focus {
  color: #958fb2 !important;
}

.mainContainer a[href] {
  /* color: #E6004C; */
  text-decoration-line: underline;
	transition: color .2s
}

.mainContainer a[href]:hover {
	color: #FF0055
}
.fixedHeaderContainer {
  padding: 0.7%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

@media (min-width: 1500px) {
	section {
		padding: 0 320px;
	}
}

@media only screen and (min-width: 1024px) {
  .docsNavContainer {
      height: calc(100vh - 60px);
      top: 60px;
  }

  .navigationSlider .slidingNav ul li a {
    color: #B2ADCC;
  }

  .navigationSlider .slidingNav ul li a:hover,
  .navigationSlider .slidingNav ul li.siteNavItemActive a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: #F4F2FF;
  }
}

.collapsible .arrow {
  transform: rotate(180deg);
}

.collapsible .arrow.rotate {
  transform: none;
}

.navPusher {
  background: #F4F2FF;
  /* margin-top: 10px; */
}

nav.toc {
  padding-right: 0px;
}

.toc .toggleNav ul li.navListItemActive a {
  color: rgba(229, 0, 76, 1);
}

.toc .toggleNav ul li a {
  color: #797399;
  padding-left: 22px;
  font-size: 14px;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
  border-left: 4px solid transparent;
  padding: 5px 0px 5px 21px;
  font-size: 16px;
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle {
  padding-left: 25px;
  font-size: 14px;
}

a.edit-page-link {
  float: none;
  font-size: 10px;
  font-weight: normal;
  margin-left: 15px;
  margin-top: 3px;
  text-decoration: none;
  padding: 8px 32px;
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  border: 1px solid #797399;
  box-sizing: border-box;
  color: #0D0A1A;
  border-radius: 0px;
  display: none;
}

a.edit-page-link:hover {
  background: #797399;
}

a.active-highlight {
  color: #161326 !important
}

.onPageNav a {
  color: #958FB2;
}

.hash-link-icon {
  display: initial;
}

.hljs {
  background: #D3CFE5;
}

code {
  background-color: #D3CFE5;
}

table th {
  background: #D3CFE5;
}

.gep-game .search-game .search-submit img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.medium-widget {
  padding: 0;
}

.navigationSlider .slidingNav ul li a {
  color: #B2ADCC;
}

.box {
  max-width:800px;
  text-align: center;
  color: red;
}

input::-webkit-input-placeholder {
  color: #797399;
}

input::-moz-placeholder {
  color: #797399;
}

input::placeholder {
  color: #797399;
}

input#search_input_react {
  color: #797399;
  background: transparent;
}

input#search_input_react:focus,
input#search_input_react:active {
  color: #D3CFE5;
  width: 170px;
}

.navSearchWrapper::before {
  border-color: #958FB2;
  border-width: 2px;
  width: 9px;
  height: 9px;
}

.navSearchWrapper::after {
  background: #958FB2;
  height: 8px;
  width: 2px;
}

.navSearchWrapper:hover::before {
  border-color: #D3CFE5;
}

.navSearchWrapper:hover::after {
  background: #D3CFE5;
}

.navSearchWrapper:focus-within::before {
  border-color: #D3CFE5;
}

.navSearchWrapper:focus-within::after {
  background: #D3CFE5;
}

#blogHeader {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 132%;
  color: #797399;
}

.medium-widget-article__title {
  color: #484266 !important
}

.medium-widget-article__description {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px !important;
  color: #797399 !important;
}

.navGroupSubcategoryTitle {
  cursor: pointer;
}

.docs-prevnext .button {
  border: none;
  transition: opacity 0.3s;
  color: #332E4D;
  opacity: 0.7;
  text-transform: none;
}

.docs-prevnext .button:hover {
  background: none;
  color: #332E4D;
  opacity: 1;
}

.docs-prevnext {
  border-top: 1px solid #797399;
  padding-top: 20px;
}

i.arrow {
  border: solid #332E4D;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4.3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 10px;
}

blockquote {
  background-color: #D3CFE5;
  border-left: 2px solid #FF3434;
  padding: 15px 30px 15px 15px;
  color: #484266;
}

/* Make space between images */
.slick-slide {
  margin-right: 10px;
}

/* Color for slick gallery prev/next arrows */
.slick-prev:before, .slick-next:before {
  color: #958FB2 !important;
}

/* Color for active dot in slick gallery */
.slick-dots li.slick-active button:before {
  color: #958FB2 !important;
}

/* Color for inactive dots in slick gallery */
.slick-dots li button:before {
  color: #B2ADCC !important;
}

/* Bottom margin for slick gallery */
.slick-dotted.slick-slider {
  margin-bottom: 60px;
}

.slick-slider a {
  color: #797399;
  font-size: 14px;
  font-family: 'Lato';
  line-height: 40px;
}

.slick-slider a:hover {
  color: #332E4D !important;
}