.video-box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px auto 0px auto;

  iframe {
    width: 560px;
    height: 315px;

    @media (max-width: 760px) {
      width: 100%;
      height: 215px;
    }
  }

  &.full-width {

    iframe {
      width: 100%;
      height: 515px;

      @media (max-width: 760px) {
        width: 100%;
        height: 215px;
      }
    }
  }

}