
.gep-games-list {


  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 15px;
    margin: 35px 0 30px;
    padding: 0;
    justify-content: space-between;

    li {
      display: block;
      width: calc(100%);
      margin: 0;

      &::before {
        display: none;
      }

      img {
        display: block;
        position: absolute;
        margin: auto;
        left: 10px
      }

      a {
        display: block;
        position: relative;
        padding: 14px 35px 16px 55px;
        background: var(--card-hover);
        text-decoration: none;
        transition: all .15s ease;

        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          right: 30px;
          width: 1px;
        }

        &:after {
          content: '';
          position: absolute;
          display: block;
          top: 50%;
          right: 20px;
          margin-top: -5px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: white
        }

        &:hover {
          color: inherit;
          background: var(--color-1000);
        }
      }

      &.good a:after {
        background: #3bb447
      }

      &.medium a:after {
        background: #b2b43b
      }

      &.bad a:after {
        background: #b43b3b
      }
    }
  }

  .legend {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background: transparent;
    gap: 24px;
    padding: 0;

    @media (max-width: 650px) {
      flex-direction: column;
    }

    li {
      display: block;
      position: relative;
      padding-left: 20px;
      font-size: 16px;
      line-height: 20px;

      &::before {
        display: none;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 6px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
      }

      &.good:after {
        background: #3bb447
      }

      &.medium:after {
        background: #b2b43b
      }

      &.bad:after {
        background: #b43b3b
      }
    }
  }
}

html[data-theme="dark"]{
  .gep-games-list ul.list li a {
    color: var(--color-grey);
    background: var(--color-200);
  }
  .gep-games-list ul.list li a:hover {
    color: var(--color-900);
    background: var(--color-300);
  }
}
