
.gep-games-list {

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 15px;
    margin: 24px 0 30px;
    padding: 0;
    justify-content: space-between;

    li {
      display: block;
      width: calc(100%);
      margin: 0;

      &::before {
        display: none;
      }

      img {
        display: block;
        margin-right: 10px;
      }

      a {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 16px 10px 10px 28px;
        background: var(--color-grey-light-2);
        text-decoration: none;
        transition: all .15s ease;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;

        &:after {
          content: '';
          position: absolute;
          display: block;
          top: 25px;
          left: 10px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: white
        }

        &:hover {
          color: inherit;
          background: var(--color-txt);
        }

        .game-id {
          flex-basis: 100%;
          font-size: 14px;

          span {
            font-weight: normal;
          }
        }

        .game-info {
          display: flex;
          align-items: center;
        }
      }

      &.good a:after {
        background: #3bb447
      }

      &.medium a:after {
        background: #b2b43b
      }

      &.bad a:after {
        background: #b43b3b
      }
    }
  }

  .legend {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background: transparent;
    row-gap: 8px;
    column-gap: 12px;
    padding: 0;
    margin: 0;

    @media (max-width: 650px) {
      flex-direction: column;
    }

    li {
      display: block;
      position: relative;
      padding-left: 20px;
      font-size: 14px;
      line-height: 20px;

      &::before {
        display: none;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 6px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
      }

      &.good:after {
        background: #3bb447
      }

      &.medium:after {
        background: #b2b43b
      }

      &.bad:after {
        background: #b43b3b
      }
    }
  }
}

html[data-theme="dark"]{
  .gep-games-list ul.list li a {
    // color: var(--color-300);
    background: var(--color-220);

    &:hover {
      background: var(--color-120);
    }
  }
}
