.markdown {
  h2.image-heading {
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: lato;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--color-txt);
  }
}
