.services-section {
  background: linear-gradient(180deg, #000000 0%, #131313 100%);
  padding: 0 80px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}