pre.display-json {
    display: block;
    padding: 0px;
    user-select: contain;

    & > .title {
        padding: 10px;
    }
    
    code {
        padding: var(--ifm-pre-padding);
        min-width: 100%;
        float: left;
        background-color: var(--background-color);
    }
}

.first { .opening, .closing { color: var(--first-level); } }
.second { .opening, .closing { color: var(--second-level); } }
.third { .opening, .closing { color: var(--third-level); } }
.expand, .collapsed { color: var(--interactible); }
.record-definition { color: var(--inner-def); }
.column { color: var(--inner-assignment); }
.top-record-definition { color: var(--top-record-def); }
.top-record-name { color: var(--function-def); }
.type { color: var(--type-def); }
.arrow { color: var(--core-syntax); }
.equals { color: var(--interactible); }
.comma { color: var(--interactible); }
.comment-line, .comment-block { color: var(--comment-def); }
.string { color: var(--string-def)}

html[data-theme=dark] {
    --background-color: inherit;
    --function-def: #DCDCAA;
    --top-record-def: #B46695;
    --inner-def: #9CDCFE;
    --core-syntax: #569CD6;
    --type-def: #4EC9B0;
    --interactible: white;
    --comment-def: #999;
    --string-def: var(--core-syntax);
    --inner-assignment: var(--inner-def);
    --first-level: var(--function-def);
    --second-level: var(--top-record-def);
    --third-level: var(--core-syntax);
    --preview-level: 0.6;
}

html[data-theme=light] {
    --background-color: white;
    --function-def: #3BA055;
    --top-record-def: #32A4E1;
    --inner-def: black; // C9AB39
    --inner-assignment: #8992DF;
    --core-syntax: #569CD6;
    --type-def: #D32D5E;
    --interactible: #8790DF;
    --comment-def: #999;
    --string-def: black;
    --first-level: var(--interactible);
    --second-level: var(--interactible);
    --third-level: var(--interactible);
    --preview-level: 0.4;
}

.object, .array {
    .record-definition:before {
        display: none;
    }
}

.expand { 
    font-size: x-small;
    letter-spacing: 1px;
}

.record { position: relative }

.collapsed {
    vertical-align: bottom;
    user-select: none;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    max-inline-size: 60px;
    opacity: var(--preview-level);
    & > * {
        pointer-events: none;
    }
}


// .opening {
//     position: relative;
//     &.open {
//         margin-left: 10px;
//         &:before {
//             content: url('/img/components/display-json/dropup.svg');
//             position: absolute;
//             top: -1px;
//             left: -16px;
//             user-select: none;
//         }
//     }
// }

// .function {
//     .record-definition:before {
//         content: url('/img/components/display-json/push_pin.svg');
//         position: absolute;
//         top: -1px;
//         left: -20px;
//         user-select: none;
//         pointer-events: none;
//     }
// }