.code-block-section {
  padding: 16px 16px 24px;
  margin: 24px 0;
  background-color: var(--color-grey-light-2);
  font-family: 'Consolas';
  font-style: italic;

  .first-group {
    display: flex;
    flex-wrap: wrap;

    .type-label {
      color: #E07000;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;

      &.green {
        color: #32A912;
      }
    }

    .bracket {
      color: #4D4D4D;
    }
  }

  .groups-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

  .grouped-item {
    display: flex;
    align-items: center;

      &.is-open {
        display: none;

        ~ .grouped-item {
          display: none;
        }
      }

      span {
        line-height: 20px;
      }

      button {
        background-color: transparent;
        color: var(--color-220);
        display: flex;
        align-items: center;

        .key {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #0095FF;
          padding-right: 8px;
          pointer-events: none;
          position: relative;

          svg {
            width: 24px;
            height: 24px;
            color: var(--color-220);
            position: absolute;
            bottom: -3px;
            left: -24px;
            transform: rotate(90deg);
          }
        }

        &:hover {
          color: #E07000;
        }
      }

    }

  }

  .groups-container {

    .group-item {
      display: none;
      color: #4D4D4D;

      &.is-open {
        display: block;

        .expanded-group {
          display: block;
        }

        .grouped-btn  {
          display: none !important;
        }

        ~ .group-item {
          display: block;

          .grouped-btn  {
            display: flex;
          }

        }



      }

      .grouped-btn, .sub-grouped-btn {
        display: flex;
        align-items: center;
        padding-left: 16px;
  
        span {
          line-height: 20px;
        }

        .key {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #0095FF;
          padding-right: 8px;
          pointer-events: none;
          position: relative;

          svg {
            width: 24px;
            height: 24px;
            color: var(--color-220);
            position: absolute;
            bottom: -3px;
            left: -24px;
            transform: rotate(90deg);
          }
        }
  
        button {
          background-color: transparent;
          color: var(--color-220);
  
          &:hover {
            color: #E07000;
          }

          .bracket {
            color: #4D4D4D;
          }
        }
      }

      .expanded-group {
        display: none;

        .expanded-group-btn {
          display: flex;
          align-items: center;
          gap: 8px;
          position: relative;
          left: -8px;

          svg {
            width: 24px;
            height: 24px;
            color: var(--color-220);
            position: relative;
            bottom: -1px;
          }

          button {
            background-color: transparent;
            color: #0095FF;
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            display: flex;
            align-items: center;
          }

          &:hover svg {
            color: #E07000;
          }
        }

        .group-inner {
          padding-left: 34px;

          p {
            margin: 0;
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #4D4D4D;
          }

          > .property:last-child {

            > .single-property-inner .comma, > .sub-grouped-btn .comma, > .expanded-sub-group > .comma {
              display: none;
            }

          }

          .sub-group-item {

            &.is-open {
              > .sub-grouped-btn {
                display: none;
              }

              > .expanded-sub-group {
                display: block;
              }
            }
            
            .sub-grouped-btn {
              padding-left: 0;
            }

            .expanded-sub-group {
              display: none;

              .sub-group-inner {
                padding-left: 34px;

                > .property:last-child {

                  > .single-property-inner .comma, > .sub-grouped-btn .comma, > .expanded-sub-group > .comma {
                    display: none;
                  }
      
                }
              }
            }
          }
        }

        .bracket {
          padding-left: 16px;

          .bracket {
            padding-left: 0;
          }
        }
      }

    }

  }

  .single-property {
    .single-property-inner {
      display: flex;
      gap: 8px;

      .key {
        color: #0095FF;
      }
    }
  }

  .code-block-actions {
    padding-bottom: 16px;

    .expand-all-btn {
      font-family: 'Lato';
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      padding: 4px 16px;
      letter-spacing: 0.04em;
      background-color: var(--color-grey-1);
      color: var(--color-220);

      &:hover {
        background-color: hsla(0,0%,100%,.16);
      }
    }
  }
}


html[data-theme=dark] {

  .code-block-section {
    background-color: var(--color-120);
  
    .first-group {

      .bracket {
        color: #999999;
      }
    }
  
    .groups-nav {

    .grouped-item {

        button {
          color: var(--color-txt);

          &:hover {
            color: #E07000;
          }
        }
  
      }
  
    }
  
    .groups-container {
  
      .group-item {
        color: #999999;

        .grouped-btn, .sub-grouped-btn {

          button {
            color: var(--color-txt);

            &:hover {
              color: #E07000;
            }

            .key {

              svg {
                color: var(--color-txt);
              }
            }
    
            .bracket {
              color: #999999;
            }
          }
        }
  
        .expanded-group {

          .group-inner {

            p {
              color: #999999;
            }

          }
  
          .expanded-group-btn {

            svg {
              color: var(--color-txt);
            }

            &:hover svg {
              color: #E07000;
            }
  
          }
        }
  
      }
  
    }
  

    .code-block-actions {
  
      .expand-all-btn {
        background-color: var(--color-333);
        color: var(--color-txt);
  
        &:hover {
          background-color: #4D4D4D;
        }
      }
    }
  }

}