:root {
  --cb-type-green: #32A912;
  --cb-key-color: #0095FF;
  --cb-type: var(--orangeE0);
  --cb-bg-color: var(--color-grey-light-2);
  --cb-bracket-color: var(--color-450);
  --cb-cta-color: var(--color-220);
  --cb-line-color: #cdcdcd;
  --cb-action-bg-color: var(--color-grey-1);
  --cb-action-bg-color-hover: var(--color-999);
  --target-bg-color: rgba(196, 84, 4, 0.16);

  //dark
  --cb-bg-color-dark: var(--color-120);
  --cb-bracket-color-dark: var(--color-999);
  --cb-cta-color-dark: var(--color-txt);
  --cb-line-color-dark: var(--color-333);
  --cb-action-bg-color-dark: var(--color-333);
  --cb-action-bg-color-hover-dark: var(--color-450);
}

html[data-theme=dark] {
  --cb-bg-color: var(--cb-bg-color-dark);
  --cb-line-color: var(--cb-line-color-dark);
  --cb-bracket-color: var(--cb-bracket-color-dark);
  --cb-cta-color: var(--cb-cta-color-dark);
  --cb-action-bg-color: var(--cb-action-bg-color-dark);
  --cb-action-bg-color-hover: var(--cb-action-bg-color-hover-dark);
}

@mixin fontStyle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

@mixin LineStyle {
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--cb-line-color);
  width: 1px;
  height: calc(100% - 52px);
}

@mixin svgStyle {
  width: 24px;
  height: 24px;
  color: var(--cb-cta-color);
}

.code-block-section {
  padding: 16px 16px 24px;
  margin: 24px 0;
  background-color: var(--cb-bg-color);

  * {
    font-family: 'Consolas';
    font-style: italic;
  }

  .first-group {
    display: flex;
    flex-wrap: wrap;

    .type-label {
      color: var(--cb-type);
      @include fontStyle;

      &.green {
        color: var(--cb-type-green);
      }
    }

    .bracket {
      color: var(--cb-bracket-color);
      pointer-events: none;
    }
  }

  .groups-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

  .grouped-item {
    display: flex;
    align-items: center;

      &.is-open {
        display: none;

        ~ .grouped-item {
          display: none;
        }
      }

      span {
        line-height: 20px;
      }

      button {
        background-color: transparent;
        color: var(--cb-cta-color);
        display: flex;
        align-items: center;

        .key {
          @include fontStyle;
          color: var(--cb-key-color);
          padding-right: 8px;
          pointer-events: none;
          position: relative;

        }

        &:hover {
          color: var(--cb-type);
        }
      }

    }

  }

  .groups-container {

    .group-item {
      display: none;
      color: var(--cb-bracket-color);
      position: relative;
      left: -8px;

      &.is-open {
        display: block;

        .expanded-group {
          display: block;
        }

        .grouped-btn  {
          display: none !important;
        }

        ~ .group-item {
          display: block;

          .grouped-btn  {
            display: flex;
          }

        }

      }

      .grouped-btn, .sub-grouped-btn {
        display: flex;
        align-items: center;

        span {
          line-height: 20px;
          pointer-events: none;
        }

        .key {
          @include fontStyle;
          color: var(--cb-key-color);
          padding-right: 8px;
          position: relative;
          margin-left: -1px;
        }

        button {
          background-color: transparent;
          color: var(--cb-cta-color);
          display: flex;

          svg {
            @include svgStyle;
            transform: rotate(90deg);
          }

          &:hover {
            color: var(--cb-type);
          }

          .bracket {
            color: var(--cb-bracket-color);
          }
        }
      }

      .expanded-group {
        display: none;

        .expanded-group-btn {
          display: flex;
          align-items: center;
          gap: 8px;

          svg {
            @include svgStyle;
            color: var(--cb-bracket-color);
            position: relative;
            bottom: -1px;
          }

          button {
            background-color: transparent;
            color: var(--cb-key-color);
            @include fontStyle;
            display: flex;
            align-items: center;
          }

          &:hover svg {
            color: var(--cb-cta-color);
          }
        }

        .group-inner {
          padding-left: 40px;

          &::before {
            content: '';
            @include LineStyle;
          }

          p {
            @include fontStyle;
            margin: 0;
            color: var(--cb-bracket-color);
          }

          + .bracket {
            padding-left: 8px;
          }

          > .property:last-child {

            > .single-property-inner .comma, > .sub-grouped-btn .comma, > .expanded-sub-group > .comma {
              display: none;
            }

          }

          .sub-group-item {
            position: relative;
            margin-left: -24px;

            &.is-open {
              > .sub-grouped-btn {
                display: none;
              }

              > .expanded-sub-group {
                display: block;
              }
            }

            .expanded-sub-group {
              display: none;

              .sub-group-inner {
                padding-left: 40px;

                &::before {
                  content: '';
                  @include LineStyle;
                }

                + .sub-bracket {
                  padding-left: 8px;
                }

                > .property:last-child {

                  > .single-property-inner .comma, > .sub-grouped-btn .comma, > .expanded-sub-group > .comma {
                    display: none;
                  }

                }
              }
            }
          }
        }


      }

    }

  }

  .single-property {

    .single-property-inner {
      display: flex;
      gap: 8px;

      .key {
        color: var(--cb-key-color);
        @include fontStyle;
      }
    }
  }

  .code-block-actions {
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .expand-all-btn, .close-all-btn {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      padding: 4px 16px;
      letter-spacing: 0.04em;
      background-color: var(--cb-action-bg-color);
      color: var(--cb-cta-color);

      &.hidden {
        pointer-events: none;
        opacity: 0.3;
      }

      &:hover {
        background-color: var(--cb-action-bg-color-hover);
      }
    }
  }

  .target {
    background-color: var(--target-bg-color);
  }
}