.what-apps-do-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--color-333);
  margin: 32px 0 0;

  li {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 24px;
    margin: 0;

    &::before {
      display: none;
    }

    h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.02em;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      margin: 0;
    }

    .asset {
      background-color: var(--color-120);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;

      svg {
        width: 48px;
        height: 48px;
      }
    }
  }
}