.ow-table {
  display: table;
  border-collapse:collapse;
  width: 100%;
  margin: 24px 0 42px;
  background-color: #1A1A1A;

  .ow-table-header {
    display: table-header-group;
  }

  .ow-table-body {
    display: table-row-group;
  }

  .ow-table-body-row, .ow-table-header-row {
    display: table-row;

    &:has(.tabs-section) {
      display: none;
      background-color: #1A1A1A;
    }

    > div {
      display: table-cell;
      font-size: 16px;
      padding: 12px 16px;
      letter-spacing: 0.02em;
      border-right: 1px solid var(--color-100);

      &:nth-child(1n) {
        width: 20%;
      }
      &:nth-child(2n) {
        width: 17%;
      }
      &:last-of-type {
        width: 100%;
        padding-right: 50px;
      }
    }
  }

  .ow-table-header-row {
    background-color: #1A1A1A;
    color: #999999;
  }

  .ow-table-body-row {
    background-color: var(--color-200);
    color: var(--color-txt);
    position: relative;
    border-bottom: 1px solid var(--color-100);

    > img {
      max-width: 136px;
      margin-top: 12px;
    }

    .tabs-section {
      position: absolute;
      width: 100%;
      padding: 16px;

      .tabs-nav {

        .tabs-nav-item {
          flex: initial;
          height: 46px;
        }
      }

      .panels-container {
        padding: 24px 0 0;
      }
    }
  }

  .expand-row {
    position: absolute;
    background-color: transparent;
    width: 24px;
    height: 24px;
    right: 16px;
    bottom: 16px;

    &.is-expanded {
      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      span, svg {
        color: white;
      }
    }

    span {
      font-size: 16px;
      position: absolute;
      right: 32px;
      color: var(--color-txt);
    }

    svg {
      width: 24px;
      height: 24px;
      pointer-events: none;
      transition: transform 150ms ease;
    }
  }

  .hidden {
    display: none;
  }
}