.ow-table {
  display: table;
  border-collapse:collapse;
  width: 100%;
  margin: 24px 0 42px;
  background-color: var(--color-txt);

  .ow-table-header {
    display: table-header-group;

    @media (max-width: 600px) {
      display: none;
    }
  }

  .ow-table-body {
    display: table-row-group;
    @media (max-width: 600px) {
      display: block;
    }
  }

  .ow-table-body-row, .ow-table-header-row {
    display: table-row;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }

    &:has(.tabs-section) {
      display: none;
      background-color: var(--color-txt);
    }

    > div {
      display: table-cell;
      font-size: 16px;
      padding: 12px 16px;
      letter-spacing: 0.02em;
      border-right: 1px solid white;

      @media (max-width: 600px) {
        display: block;
        padding-bottom: 0;
        width: 100% !important;
      }
    }
  }

  .ow-table-header-row {
    background-color: var(--color-txt);
    color: var(--color-450);
  }

  .ow-table-body-row {
    background-color: var(--color-grey-light-2);
    color: var(--color-220);
    position: relative;
    border-bottom: 1px solid white;

    &:has(.expand-row) > div:last-of-type {
      padding-right: 50px;
      padding-bottom: 50px;
    }

    > div {

      > span img {
        margin-top: 8px;
      }

      // &:nth-child(1) {
      //   width: 20%;
      //   font-weight: bold;

      // }
      // &:nth-child(2) {
      //   width: 17%;
      // }
      // &:last-of-type {
      //   width: 100%;
      //   padding-right: 50px;
      // }

    }

    .tabs-section {
      position: absolute;
      width: 100%;
      padding: 16px;
      background-color: var(--color-txt);

      @media (max-width: 600px) {
        position: unset;
      }

      .tabs-header {
        @media (max-width: 600px) {
          width: 80vw;
        }
      }

      .tabs-nav {

        .tabs-nav-item {
          flex: initial;
          height: 46px;
          font-size: 14px;
          background-color: var(--color-txt);
          color: var(--color-450);

          @media (max-width: 600px) {
            padding: 8px 14px;
          }

          &.is-active {
            color: var(--color-220);
          }

          &:hover, &:focus {
            background-color: var(--color-grey-1);
          }
        }
      }

      .panels-container {
        padding: 24px 0 0;
      }
    }
  }

  .expand-row {
    position: absolute;
    background-color: transparent;
    right: 8px;
    bottom: 8px;
    line-height: 22px;
    font-size: 16px;
    display: flex;
    gap: 8px;
    color: var(--color-220);
    height: 40px;
    padding: 8px 16px;

    &.is-expanded {
      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.16);
      color: var(--color-txt);
    }

    svg {
      width: 24px;
      height: 24px;
      pointer-events: none;
      transition: transform 150ms ease;
    }
  }

  .mobile-only {
    display: none;
    color: var(--color-450);
    font-weight: 400;
    padding-right: 8px;

    @media (max-width: 600px) {
     display: inline-block;
    }
  }
}

html[data-theme=dark] {

  .ow-table {
    background-color: var(--color-120);

    .ow-table-body-row, .ow-table-header-row {

      &:has(.tabs-section) {
        display: none;
        background-color: var(--color-120);
      }

      > div {
        border-color: var(--color-100);
      }
    }

    .ow-table-header-row {
      background-color: var(--color-120);
      color: var(--color-999);
    }

    .ow-table-body-row {
      background-color: var(--color-200);
      color: var(--color-txt);
      border-color: var(--color-100);

      .tabs-section {
        background-color: var(--color-120);

        .tabs-nav {

          .tabs-nav-item {
            background-color: var(--color-120);
            color: var(--color-999);

            &.is-active {
              color: var(--color-txt);
            }

            &:hover, &:focus {
              background-color: var(--color-333);
            }
          }
        }

      }
    }

    .expand-row {
      color: var(--color-999);

      &:hover {
        background-color: rgba(255, 255, 255, 0.16);
        color: var(--color-txt);
      }
    }

    .mobile-only {
      color: var(--color-999);
    }
  }
}