.community-section {
  padding: 0 16px;

  > div {
    max-width: 1112px;
    margin: auto;
    padding: 56px 0;
  }

  .info {
    max-width: 538px;

    svg {
      width: 62px;
      height: 42px;
      color: var(--color-220);
      margin-bottom: 16px;
    }

    h4 {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 8px;

      @media (max-width: 600px) {
        font-size: 32px;
        line-height: 48px;
      }
    }

    p {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 24px ;
    }
  }

  .discord-community {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
      text-align: center;

      svg {
        margin: 0 auto 16px;
      }
    }
  }

  .game-developer {
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

}

html[data-theme=dark] {
  .community-section .info svg {
    color: white;
  }
}