.community-section {
  padding: 0 16px 100px;
  overflow: hidden;

  @media (max-width: 600px) {
   padding-bottom: 20px;
  }

  > div {
    max-width: 1112px;
    margin: auto;
    padding: 56px 0;
  }

  .info {
    max-width: 538px;

    svg {
      width: 62px;
      height: 42px;
      color: var(--color-220);
      margin-bottom: 16px;
    }

    h4 {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 8px;

      @media (max-width: 600px) {
        font-size: 32px;
        line-height: 48px;
      }
    }

    p {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 24px ;
    }
  }

  .discord-community {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
      text-align: center;

      svg {
        margin: 0 auto 16px;
      }
    }

    .assets {
      position: relative;

      .mobile {
        display: none;

        @media (max-width: 800px) {
          display: block;
        }
      }

      .sign-video {
        position: absolute;
        left: 90px;
        top: 40px;
        z-index: 3;

        @media (max-width: 1024px) {
          width: 270px;
          left: 30px;
        }

        @media (max-width: 800px) {
          display: none;
        }
      }
      
      .sparks {
        @media (max-width: 800px) {
          display: none;
        }
      }
      
    }
    
  }

  .game-developer {
    position: relative;

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
    }

    .assets {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;

      @media (max-width: 800px) {
        position: unset;
      }

      .mobile {
        display: none;

        @media (max-width: 800px) {
          display: block;
          position: relative;
          right: -50px;
        }
      }

      .smoke {
        position: absolute;
        top: -90px;
        right: -160px;
        width: 718px;
        height: 480px;

        @media (max-width: 800px) {
          display: none;
        }
      }

      .compass-video {
        position: absolute;
        right: 40px;
        top: 10px;
        z-index: 3;

        @media (max-width: 1024px) {
          width: 370px;
        }

        @media (max-width: 960px) {
          width: 270px;
        }

        @media (max-width: 800px) {
          display: none;
        }
      }
      
      
    }
  }

}

html[data-theme=dark] {
  .community-section .info svg {
    color: white;
  }
}